<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 🔹 Kết nối tới SQL Server Express cục bộ -->
	<connectionStrings>
		<!-- Chuỗi kết nối chính dùng cho LINQ to SQL (InfoDataContext) -->
		<add name="InfoDataContext"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=QuanLyCongVan;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

		<!-- Các kết nối khác của ASP.NET Membership -->
		<add name="ApplicationServices"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

		<add name="QuanLyCongVanConnectionString1"
		   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=QuanLyCongVan;Integrated Security=True"
		   providerName="System.Data.SqlClient" />

		<!-- 🔹 Thêm dòng này để fix lỗi QLCVDb -->
		<add name="QLCVDb"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=QuanLyCongVan;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<!-- 🔹 Bật debug và đặt phiên bản .NET Framework -->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>

		<!-- 🔹 Cấu hình đăng nhập -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>

		<!-- 🔹 Membership (nếu có dùng tài khoản ASP.NET) -->
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider"
					 type="System.Web.Security.SqlMembershipProvider"
					 connectionStringName="ApplicationServices"
					 enablePasswordRetrieval="false"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="false"
					 requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5"
					 minRequiredPasswordLength="6"
					 minRequiredNonalphanumericCharacters="0"
					 passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>

		<!-- 🔹 Profile -->
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider"
					 type="System.Web.Profile.SqlProfileProvider"
					 connectionStringName="ApplicationServices"
					 applicationName="/" />
			</providers>
		</profile>

		<!-- 🔹 Role Manager -->
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider"
					 type="System.Web.Security.SqlRoleProvider"
					 connectionStringName="ApplicationServices"
					 applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider"
					 type="System.Web.Security.WindowsTokenRoleProvider"
					 applicationName="/" />
			</providers>
		</roleManager>

		<!-- 🔹 Ajax Control Toolkit -->
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="ajaxToolkit"
					 assembly="AjaxControlToolkit"
					 namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>

	<!-- 🔹 IIS settings -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
